<header>
    <div class="left-side">
        <h1>Dragy</h1>
    </div>
    <div class="right-side">
        <a href="/"><button>PoÄetna</button></a>
        <a href="/addCar"><button>Dodaj automobil</button></a>
    </div>
</header>
<hr>