<div class="RaceContainer">
<h2 title="Klikni za utrku">RACE
<span class="circle circle1"></span>
<span class="circle circle2"></span>
<span class="circle circle3"></span>
</h2>
<ul class="RaceUl"></ul>
</div>