body {
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    background-color: #f4f4f4;
    height: 100%;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    margin: auto;
}

.UpContainer{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
  

.li {
    margin-bottom: 15px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px; 
    padding: 10px;
    background-color: #d6d1d1; 
  }

.li:nth-child(even) {
    background-color: #c9bdbd; 
}
  
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px;
}

.left-side h1 {
    margin: 0;
}

.right-side button {
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.ul {
    list-style-type: none;
    padding: 0;
    width: 50%;
}


.DelBtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.DelBtn:hover {
    background-color: #d32f2f;
}

.RaceContainer {
    margin-right: 50px;
    margin-bottom: 10px;
    position: absolute;
    top: 50;
    right: 0;
    width: 40%;
    height: auto;
    border: solid;
    overflow-y: auto;
    padding: 20px;
    z-index: 2;
}
h2{
    padding: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}
h2:hover{
    cursor: pointer;
}
.RaceBtn {
    background-color: rgb(120, 158, 43);
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}
.RaceBtn:hover {
    background-color: rgb(77, 98, 34);
}
.sPic{
width: auto;
height: 75px;
}
.fRight{
    transform: translateX(600%);
}
ul{
    list-style: none;
}

.circle {
    display: none;
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
}
.RaceDel{
    margin-left: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.RaceDel:hover {
    background-color: #d32f2f;
}
.UpBtn{
    background-color:#0056b3;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

/* MODAL */

.popup-modal {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 10%;
	z-index: 200;
	max-width: 600px;
	padding: 30px;
	margin: auto;
	background-color: #fff;
    border-radius: 10px;
}

.button {
    color: black;
	font-size: 26px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;
	background-color: transparent;
	font-weight: bold;
	border: 0;
}
.button:hover{
    background-color: transparent;
}

.overlay {
	display: none;
	position: fixed;
	bottom: 0;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.5);
}

select{
    padding: 5px;
    margin-bottom: 7px;
}
